@charset "utf-8";

.delete-tasks-confirmation {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.delete-confirmation-content {
  position: absolute;
  pointer-events: auto;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
  padding: 10px;
  border-radius: 10px;
  background-color: white;
  width: 425px;
  z-index: 999;
}

.no-click {
  pointer-events: none;
}

/*
  https://stackoverflow.com/questions/57262508/add-css-shaking-animation-to-a-button-without-hover
  https://stackoverflow.com/questions/38132700/css-wiggle-shake-effect
*/

.animation {
  animation-name: shake;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }

  25% {
    transform: translateX(-5px);
  }

  50% {
    transform: translateX(5px);
  }

  75% {
    transform: translateX(-5px);
  }

  100% {
    transform: translateX(0);
  }
}

.delete-confirmation-content p {
  padding: 5px 15px;
  font-size: 14px;
}

.delete-confirmation-content .close-confirmation {
  text-align: right;
}

.delete-confirmation-buttons {
  display: flex;
  justify-content: center;

}

.cancel-btn {
  margin-left: 10px;
}

.delete-confirmation-buttons button {
  background-color: lightgray;
  border: none;
  padding: 10px 20px;
  width: 100px;
  height: 40px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: transform 0.1s ease-in-out;
}

.delete-confirmation-buttons button:active {
  transform: scale(0.95);
}


.card-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.tag-list {
  display: flex;
}

.card-tags {
  width: 18px;
  height: 18px;
  margin-left: 5px;
  border-radius: 5px;
}

.task-card {
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
  margin: 15px 0;
  cursor: pointer;
  height: 60px;
}

.card-date {
  font-size: 14px;
  color: gray;
  margin-top: 6px;
}

.task {
  padding: 10px;
  text-align: left;
}

p {
  margin: 0;
}

.modal-overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  cursor: pointer;
}

.modal {
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: fixed;
  width: 600px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
  z-index: 5;
}

.modal-content {
  padding: 20px;
  text-align: left;
}

.modal-content .save-task {
  margin-top: 10px;
  text-align: center;
}

.task-description textarea {
  box-sizing: border-box;
  border-radius: 5px;
  border: solid 1px lightgrey;
  width: 100%;
  min-height: 200px;
  resize: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  padding: 3px;
}

.task-title {
  border: none;
  height: 32px;
  flex: 1;
}

.task-header {
  height: 50px;
  position: relative;
}

.close-btn {
  position: absolute;
  top: 0;
  right: 0;
}

.task-title input {
  font-size: 16px;
  font-weight: bold;
  width: 90%;
  border: none;
  height: 30px;
}

.deadline {
  display: flex;
  align-items: center;
}

.no-deadline {
  display: flex;
}

.no-deadline>div {
  display: flex;
  align-items: center;
}

.no-deadline>div>input {
  display: none;
}

.remove-deadline {
  cursor: pointer;
  display: inline-block;
  margin-left: 5px;
}

.list {
  display: inline-block;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
  border-radius: 25px;
  width: 350px;
  padding: 0 25px 25px;
  max-height: 97%;
}

.list-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 100%;
}

.material-symbols-outlined {
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 200,
    'opsz' 48;
  cursor: pointer;
  font-size: 28px;
}

.list-header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  height: 45px;
}

.list-header p {
  font-weight: bold;
}

.list-header div .drop-btn,
.list-header div .add-btn {
  display: flex;
}

hr {
  height: 1px;
  background-color: lightgrey;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  position: absolute;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
  left: -75px;
  background-color: white;
  padding: 0 5px;
  border-radius: 10px;
}

.listActions-window {
  position: absolute;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
  top: -1000px;
  left: 75px;
  min-width: 200px;
  background-color: white;
  padding: 0 5px;
  border-radius: 10px;
  z-index: 999;
}

.dropdown-tags {
  position: absolute;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
  top: 30px;
  min-width: 200px;
  background-color: white;
  padding: 0 5px;
  border-radius: 10px;
  z-index: 999;
}

.dropdown-tags li {
  color: black;
  background-color: white;
  text-decoration: none;
  font-size: 14px;
  display: flex;
  padding: 3px;
  align-items: center;
  justify-content: space-between;
}

.dropdown-tags li label {
  display: flex;
  align-items: center;
}

.dropdown-tags label {
  cursor: pointer;
}

.dropdown-content ul,
.dropdown-tags ul {
  padding: 0;
  margin: 7px 0;
}

.dropdown-content li {
  color: black;
  padding: 5px 15px;
  text-decoration: none;
  display: block;
  font-size: 14px;
}

.dropdown-content li:hover {
  background-color: lightgrey;
  border-radius: 10px;
  cursor: pointer;
}

.dropdown-content .delete,
.delete-btn button,
.delete-trashcan {
  color: red !important;
}

.dropdown:hover>.drop-btn,
.add-btn:hover {
  background-color: lightgray;
  color: gray;
  border-radius: 10px;
}

.list-title {
  font-size: 16px;
}

@media screen and (min-width: 1800px) {
  .list {
    width: 350px !important;
  }

  .list-container {
    width: 1350px !important;
  }
}

@media screen and (min-width: 1100px) {

  .list-container {
    margin: 30px auto !important;
  }

  .modal {
    width: 500px !important;
  }

  .confirmation-content {
    width: 425px !important;
    left: -350px !important;
  }

  .card-title {
    font-size: 16px !important;
  }

  .card-date {
    font-size: 14px !important;
    margin-top: 6px !important;
  }
}

@media screen and (min-width: 350px) {
  .list-container {
    width: 1050px;
    padding: 0 20px;
    margin: 40px auto;
    height: calc(100vh - 120px);
  }

  .list {
    width: 275px;
  }

  .list-tasks {
    overflow: auto;
    height: calc(100vh - 200px);
  }

  .modal {
    width: 370px;
  }

  .modal-content {
    padding: 15px;
  }

  .confirmation-content {
    width: 300px;
    left: -233px;
  }

  .card-title {
    font-size: 14px;
  }

  .card-date {
    font-size: 12px;
    margin-top: 10px;
  }

  .delete-confirmation-content {
    width: 350px;
    top: -1000px;
  }
}